/* 전체 컨테이너 스타일링 */
.CommentContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: linear-gradient(180deg, #000 38.92%, rgba(139, 0, 0, 0) 100%);
}

/* 리뷰 아이콘 스타일링 */
.NameReview {
    text-align: center;
    font-size: 24px;
    color: brown;
    margin-bottom: 20px;
}

/* 댓글 입력 폼 스타일링 */
.CommentForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: black;

}

.CommentForm input, .CommentForm button {
    font-weight: bold;
    color: black;
    margin: 5px 0;
    padding: 5px;
}

#UserCheckBtn {
    background: linear-gradient(180deg, #000 38.92%, rgba(139, 0, 0, 0) 100%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#UserCheckBtn:hover  {
    font-weight: bold;
    background-color: mediumvioletred;
}

/* 댓글 스타일링 */
.Comment {
    font-weight: bold;
    border: 1px solid white;
    padding: 10px;
    margin: 10px 0;
    color: white;
}

.comment-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.comment-label  {
    margin:1px auto 1px auto;
    left:100px;
    font-weight: bold;
    width: 50px;
    color: white;
    background: none;
}
textarea {
    color:black;
    width:62.1rem;
    height: 5rem;
}


.comment-username {
    color: white;
}

#review_user, #review_content {
    margin: 8px auto 5px auto;
}
