body{

    text-align: center;
    max-width: 100%;
    max-height: 100%;
}
/*댓글 컨테이너*/
.CommentContainer {
    border: 1px solid red;
    border-bottom-width: medium;
   width:100%
}
/*아이디 입력*/
#userName {
    margin: 5px -67px 1px auto;
    width:24rem;
    height:1.5rem;
}
/*비밀번호 입력*/
#PasswordInput {
    margin: 1px auto auto 3rem;
    width: 20rem;
    height:1.5rem;
}
/*댓글 입력*/
#content {
    width:51.7rem;
    height:7rem;
}
/*아이디 비밀번호 입력 후 댓글 확인*/
button  {
    margin-left:-17px;
    background-color: white;
    text-decoration-color: black;
    width:8.5rem;
    height:2rem;
}


